
<% @contacts.each do |contact| %>
  <li>Name: <%= contact.name %></li>
  <li>Email: <%= contact.email %></li>
  <li>Phone: <%= contact.number %></li>
  <%= image_tag contact.imgUrl %>
  <image src="<%= contact.imgUrl %>"/>
  <% end %>
